@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-backgrount: #e5eafc;
  --color-principal-fonts: #0a3871;
  --color-parrafos: #495057;
  --color-btn-one: #0a3871;
  --color-btn-two: #d8dfe8;
  --value-width: 1440;
  --value-height: 1024;
}
/* Estilos Iniciales  */
body,
html {
  background: var(--color-backgrount);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
  color: var(--color-principal-fonts);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

p {
  color: var(--color-parrafos);
}

/* estilos para los contenedores */
/* contenedor Padre de todos  */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-text-button {
  margin-left: 240px;
  width: 680px;
}
.container-result {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
  width: 400px;
  height: 944px;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  background: white;
}
.container-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}


/* Estilos a las imagenes */
img {
  box-sizing: border-box;
}

.logo {
  width: 120px;
  height: 48px;
  margin: 40px;
}

.logo-second {
  width: 336px;
  height: 304px;
}

/* estilos text area  */
.text-area {
  font-size: 32px;
  border: none;
}
.area-one {
  background: var(--color-backgrount);
  height: 720px;
  width: 680px;
}

.text-area::placeholder {
  font-size: 32px;
  color: var(--color-btn-one);
}

.text-result {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-parrafos);
}


.section-result {
  width: 336px;
  margin: 32px;
}

.section-button{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.result{
  flex: 1;
  margin: 32px;
  text-align: start;
}
.ocultar{
  display: none;
}

.btn {
  font-size: 16px;
  width: 48%;
  height: 67px;
  border-radius: 24px;
  border: 1px solid var(--color-btn-one);
  cursor: pointer;
}

.btn-encriptar {
  background: var(--color-btn-one);
  color: var(--color-btn-two);
}
.btn-desencriptar {
  background: var(--color-btn-two);
  color: var(--color-btn-one);
}

.btn-copiar{
  margin-top: auto;
  background: white;
  width: 80%;
  margin: 32px auto;
}

.icon-gris {
  color: var(--color-parrafos);
}
.texto-resp {
  font-size: 16px;
  
}
.texto-traduct{
  font-size: 24px;
}
footer p {
  font-size: 24px;
  font-weight:normal;
  text-shadow: 1px 1px 3px rgb(83, 77, 77);
  color: var(--color-parrafos);
  font-style: italic;
  text-align: center;
}
@media (max-width: 1439px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .container-result {
    margin: 67px 0 60px 0;
    width: 90%;
    height: 100%;
  }

  .container-init-traductor {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .container-text-button {
    margin-left: 0;
    width: 100%;
    height: 80%;
  }

  .logo-second {
    display: none;
  }

  .section-result {
    width: 90%;
  }

  .area-one {
    width: 100%;
    height: 596px;
    margin-top: 70px;
  }

  .btn {
    font-size: 16px;
  }
  .logo{
    align-items: start;
    margin:40px 0;
    width: 40px;
    object-fit: cover;
  }
  .text-result{
    font-size: 24px;
    margin-bottom: 16px;
  }
  .texto-resp{
    font-size: 16px;
  }
}

@media (max-width: 375px){
  .container-init-traductor{
    width: 100%;
    
  }
.logo{
  margin: 0;
}
.container-text-button{
  margin-top: 60px;
}
.area-one{
  min-height: 300px;
}

.container-buttons{
  flex-direction: column;
}
.btn{
  width: 98%;
  margin-bottom: 24px;
}
.btn::first{
  margin-bottom: 24px;
}
.container-result{
  margin: 40px 24px;
}
.texto-resp{
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}
}