@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-backgrount: #e5eafc;
  --color-principal-fonts: #0a3871;
  --color-parrafos: #495057;
  --color-btn-one: #0a3871;
  --color-btn-two: #d8dfe8;
  --value-width: 1440;
  --value-height: 1024;
}
/* Estilos Iniciales  */
body, html {
  background: var(--color-backgrount);
  overflow: hidden; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-principal-fonts);
  font: "Inter", sans-serif;
  font-weight: 400;
}

p {
  color: var(--color-parrafos);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}


/* Estilos a las imagenes */
img{
  box-sizing: border-box;
}

.logo {
width: 120px;
height: 48px;
margin: 40px;
}

.logo-second{
  width: 336px;
  height: 304px;
}

/* estilos para los contenedores */
.container-text-button {
  margin-left: 240px;
  width: 680px;
}
.container-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12px 0 12px 80px;
  width: 400px;
  height: 944px;
  box-shadow: 0 24px 32px -8px white;
  border-radius: 32px;
  background: white;
}
.container-buttons{
  margin-top: 16px;
}

/* estilos text area  */
.text-area {
  font-size: 32px;
  border: none;
}
.area-one {
  background: var(--color-backgrount);
  height: 680px;
  width: 680px;
}


.text-area::placeholder {
  font: "Inter", sans-serif;
  font-size: 32px;
  color: var(--color-btn-one);
}

.text-result{
  font: 24px;
  font-weight: bold;
  color: var(--color-parrafos);
}

.texto-resp{
  font: 16px;
}

.section-result{
  width: 336px;
}
.btn {
  font-size: 12px;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  border: 1px solid var(--color-btn-one);
}

.btn-encriptar {
  background: var(--color-btn-one);
  color: var(--color-btn-two);
}
.btn-desencriptar {
  background: var(--color-btn-two);
  color: var(--color-btn-one);
}

.icon-gris {
  color: var(--color-parrafos);
}
